@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Nanum+Gothic&display=swap');

p,
.nanum-gothic {
  font-family: 'Nanum Gothic', sans-serif !important;
}

.demo-descript {
  font-family: 'Gamja Flower', cursive;
  font-size: 18px;
}


.start-wrapper {
  background-image: url('../public/PIC/시작\ 배경4.jpg');
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: center;
}
